<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="OSP"
            id="com.osp.ide">
      </category>
      <view
            name="bada SDK Samples"
            icon="icons/samples.gif"
            category="com.osp.ide"
            class="com.osp.samplebrowser.views.SampleView"
            id="com.osp.samplebrowser.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
